[Unit]
Description=Locust Arkiv Load Testing Master
After=network.target

[Service]
WorkingDirectory=WORKING_DIRECTORY_PLACEHOLDER
EnvironmentFile=ENV_FILE_PLACEHOLDER
ExecStart=/root/.local/bin/poetry run locust -f LOCUST_FILE_PLACEHOLDER --master --web-host 0.0.0.0 --class-picker
Restart=always
RestartSec=5
User=root

[Install]
WantedBy=multi-user.target

