[Unit]
Description=Locust Worker Service
After=network.target


[Service]
User=root
Group=root
WorkingDirectory=WORKING_DIRECTORY_PLACEHOLDER
EnvironmentFile=ENV_FILE_PLACEHOLDER
EnvironmentFile=/home/ubuntu/mnemonic.env
ExecStartPre=/bin/sleep 30
ExecStart=/root/.local/bin/poetry run locust -f STRESS_L3_DIR_PLACEHOLDER/stress/l3/locustfile.py,STRESS_L3_DIR_PLACEHOLDER/stress/explorer/locustfile.py --worker --master-host MASTER_HOST_PLACEHOLDER --master-port MASTER_PORT_PLACEHOLDER --class-picker
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target

