[Unit]
Description=Locust Worker Service
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=WORKING_DIRECTORY_PLACEHOLDER
EnvironmentFile=ENV_FILE_PLACEHOLDER
EnvironmentFile=/home/ubuntu/mnemonic.env
ExecStartPre=/bin/sleep 30
ExecStart=/root/.local/bin/poetry run locust -f LOCUST_FILE_PLACEHOLDER --worker --master-host MASTER_HOST_PLACEHOLDER --master-port MASTER_PORT_PLACEHOLDER
Restart=on-failure

[Install]
WantedBy=multi-user.target

